

.Trending {
    min-height: 80vh;
    /* margin-top: 5rem; */
    /* background: rgb(249, 219, 219); */
    padding-left: 3rem;
    padding-right: 3rem;

  }
  
  .box {
    /* height: 5rem; */
    width: 100%;
    /* border: 1px solid rgb(109, 53, 53); */
    /* top: 3rem; */
    /* bottom: 1rem; */
margin-top: 3rem;
    /* position: relative; */
    /* padding: 1rem; */
  }



  .spn_Hover  {
color: black;
  }
  .spn_Hover:hover {
    color: crimson;
      }
  
  .Heading {
    text-align: center;
    font-size: 2.2rem;
    color: #0BB00C;
    /* margin-left: 2rem; */
    font-weight: 500;
  }
  
  .InerBox {
    min-height: 60vh;
    /* padding: 1rem; */
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for small screens */
    justify-content: space-between;
  }
  
  .InerBox img {
    margin-top: 2rem;
    width: 100%; /* Make the images fill the container width */
    max-width: 17rem;
    min-height: 17rem;
  }

  .InerBox img:hover {

transform: scale(1.1);
cursor: pointer;

  }


  
  .title {
    display: flex;
    justify-content: center;
  }
  
  /* Add responsive styles */
  @media only screen and (max-width: 768px) {
    .InerBox {
      flex-direction: column;
      align-items: center;

    }
  
    .InerBox img {
      margin-top: 1rem; /* Adjust spacing between images */
    }

    .Heading {
      text-align: center;
      font-size: 20px;
      margin-right: 1.5rem;
      /* color: crimson; */
      /* margin-left: 2.5rem; */
      /* font-weight: 500; */


    }


  }
  