



    .Ap {
      text-align: center;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-around;
      /* background-color: #333; */
      color: rgb(5, 0, 0);
      padding: 20px;
    }
    
    .footer-content {
      max-width: 300px;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
    }
    
    a {
      text-decoration: none;
      color: #130101;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    .logo {
      max-width: 200px;
      height: auto;
    }



    .image2{
      max-width: 100px;
      height: auto;

    }
    
    .image2 {
      /* Additional styling for the second image if needed */
      margin-bottom: 10px;
    }

    .image2:hover{
      transform: rotatey(180deg);

    }


    
    /* Responsive styles */
    @media only screen and (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-content {
        margin-bottom: 20px;
      }
    }
    